
<!--第一个单独的div是为了封闭 headbar里<div id="wrapper">切勿删除-->
</div>

<script src="__S__/assets/libs/jquery/jquery.min.js"></script>

<!--<script src="__S__/assets/libs/select2/js/select2.min.js"></script>-->
<script src="__S__/assets/libs/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
<script src="__S__/assets/libs/mohithg-switchery/switchery.min.js"></script>
<script src="__S__/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>

<script src="__S__/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="__S__/assets/libs/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="__S__/assets/libs/metismenu/metisMenu.min.js"></script>
<!--<script src="__S__/assets/libs/jquery-knob/jquery.knob.min.js"></script>-->
<!--<script src="__S__/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>-->
<!--<script src="__S__/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>-->
<!--<script src="__S__/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>-->
<!--<script src="__S__/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>-->
<script src="__S__/assets/js/jquery.core.js"></script>
<script src="__S__/assets/js/jquery.app.js"></script>

<!--步骤-->

<!--<script src="__S__/assets/js/jquery.wizard.js"></script>-->
<!--步骤-->

</body>
</html>