
<div id="ft_menu" class="ft_menu">
    <a id="get" class="ft_subMenu ft_text-center" href="{:url('phone/Phone/phone_a')}">
        <i class="fa fa-home"></i>
        <div class="ft_menu_name" id="">QQ</div>
    </a>
    <a id="two" class="ft_subMenu ft_text-center" href="{:url('phone/Phone/phone_b')}">
        <i class="fa fa-send"></i>
        <div class="ft_menu_name">QQ</div>
    </a>
    <a id="three" class="ft_subMenu ft_text-center" href="{:url('phone/Phone/phone_c')}">
        <i class="fa fa-cab"></i>
        <div class="ft_menu_name">QQ</div>
    </a>
</div>



<!--步骤-->

<!--<script src="__S__/assets/js/jquery.wizard.js"></script>-->
