

{include file="part/head" /}
{include file="part/headbar" /}
{include file="part/menu" /}
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <!-- end row -->
            <div class="page-title-box">
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Greeva</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Forms</a></li>
                    <li class="breadcrumb-item active">Form Elements</li>
                </ol>
                <h4 class="page-title">Form Elements</h4>
            </div>

            <div class="card-box">1561651</div>

        </div> <!-- end container-fluid-->

    </div>
</div>
{include file="part/foot" /}