
{include file="part/head" /}
<!--<script src="__S__/layer/layer.js"></script>-->
<script src="__S__/layui/layui.all.js"></script>
{include file="part/headbar" /}


{include file="part/menu" /}

<div class="content-page">
    <div class="content">
        <!-- End page title box -->
        <div class="page-title-box">
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item"><a href="javascript:void(0);">Greeva</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">Forms</a></li>
                <li class="breadcrumb-item active">Form Elements</li>
            </ol>
            <h4 class="page-title">layer-tap</h4>
        </div>

    </div>
</div>

</body>


<script>

</script>

</html>
