{include file="part/head" /}
{include file="part/headbar" /}
{include file="part/menu" /}


<div class="content-page">
    <div class="content">
        <!-- End page title box -->
        <div class="page-title-box">
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item"><a href="javascript:void(0);">Greeva</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">Forms</a></li>
                <li class="breadcrumb-item active">Form Elements</li>
            </ol>
            <h4 class="page-title">注册_resign</h4>
        </div>
        <!--头文件-->

        <div class="col-md-6">
            <form role="form" name="myform" method="post" id="d_form">

                <div class="form-group">
                    <input class="form-control" name="name" placeholder="name">
                </div>
                <div class="form-group">
                    <input class="form-control" name="pass" placeholder="pass">
                </div>

                <!--html部分>>>-->
                <div class="form-group row">
                    <div class="col-md-6">
                        <input class="form-control" name="captcha" placeholder="验证码">
                    </div>
                    <div class="col-md-6">
                        <img id="verify_img" src="{:captcha_src()}" alt="验证码" onclick="refreshVerify()">
                    </div>
                </div>
                <!--<<<html部分-->

                <button type="button" class="btn btn-primary" onclick="d_ajax()">提交按钮Button</button>

            </form>
        </div>
    </div>
</div>

{include file="part/foot" /}
<script>
    function d_ajax() {
        $.post("{:url('resign/Pc/pc_rec')}", $("#d_form").serialize(), function (from_return) {
            layer.msg(from_return.msg, {time: 2000});
        });
    }

    function refreshVerify() {
        var ts = Date.parse(new Date()) / 1000;
        var img = document.getElementById('verify_img');
        img.src = "/captcha?id=" + Math.random();
    }
</script>