

{include file="part/head" /}
{include file="part/headbar" /}


{include file="part/menu" /}


<div class="content-page" >
    <div class="content" >
        <!-- End page title box -->
        <div class="page-title-box">
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item"><a href="javascript:void(0);">首页</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">空白</a></li>
                <li class="breadcrumb-item active">空白</li>
            </ol>
            <h4 class="page-title">首页</h4>
        </div>



    </div>
</div>

{include file="part/foot" /}