

<body>

<!-- Begin page -->
<div id="wrapper">

    <!-- Navigation Bar-->
    <header id="topnav">
        <nav class="navbar-custom">
            <ul class="list-unstyled topbar-right-menu float-right mb-0">

                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="false" aria-expanded="false">
                        <img src="__S__/assets/images/users/avatar-1.jpg" alt="user" class="rounded-circle"> <span class="ml-1">Agnes K <i class="mdi mdi-chevron-down"></i> </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown ">

                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="dripicons-user"></i> <span>My Account</span>
                        </a>

                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="dripicons-power"></i> <span>Logout</span>
                        </a>

                    </div>
                </li>

            </ul>

            <ul class="list-unstyled menu-left mb-0">
                <li class="float-left">
                    <a href="index.html" class="logo">
                                <span class="logo-lg">
                                    <img src="__S__/assets/images/logo.png" alt="" height="20">
                                </span>
                        <span class="logo-sm">
                                    <img src="__S__/assets/images/logo_sm.png" alt="" height="28">
                                </span>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- end navbar-custom -->
    </header>
    <!-- End Navigation Bar-->
