
    <!-- End Navigation Bar-->
    <!-- ========== Left Sidebar Start ========== -->
    <div class="left-side-menu">
        <div class="slimscroll-menu">
            <!--- Sidemenu -->
            <div id="sidebar-menu">
                <ul class="metismenu" id="side-menu">
                    <li class="menu-title">Navigation</li>

                    <li>
                        <a href="javascript: void(0);">
                            <i class="fa fa-home"></i> <span> 首页 </span>
                        </a>
                    </li>

                    <li>
                        <a href="javascript: void(0);"><i class="fa fa-list"></i> <span>excel导入导出</span> <span class="menu-arrow"></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="{:url('admin/Excelin/excelin')}">excel导入</a></li>
                            <li><a href="{:url('admin/Excelout/excelout')}">excel导出</a></li>
                            <li><a href="list_c.html">第三条</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);"><i class="fa fa-list"></i> <span>上传下载</span> <span class="menu-arrow"></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="{:url('admin/Loadup/loadup')}">上传</a></li>
                            <li><a href="{:url('admin/Loaddown/loaddown')}">直接下载</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);"><i class="fa fa-list"></i> <span>layer</span> <span class="menu-arrow"></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="{:url('admin/Layermess/layermess')}">layer基本使用</a></li>
                            <li><a href="{:url('admin/Layermess/layerform')}">layer表单</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);"><i class="fa fa-list"></i> <span>微信所有</span> <span class="menu-arrow"></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="{:url('admin/Add/add')}">微信登录</a></li>
                            <li><a href="{:url('admin/Loaddown/loaddown')}">直接下载</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);"><i class="fa fa-list"></i> <span>短信问题</span> <span class="menu-arrow"></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="{:url('admin/Sms/sendsingle')}">单个发送</a></li>
                            <li><a href="{:url('admin/Loaddown/')}">一堆发送</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);"><i class="mdi mdi-file-document-box"></i><span class="badge badge-danger float-right">6</span> <span> Forms </span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="form-elements.html">Form Elements</a></li>
                            <li><a href="form-advanced.html">Form Advanced</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);"><i class="fa fa-list"></i> <span>扒拉网站</span> <span class="menu-arrow"></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="{:url('admin/Curl2/show')}">扒拉网站</a></li>
                            <!--<li><a href="{:url('admin/Loaddown/')}">一堆发送</a></li>-->
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);"><i class="fa fa-list"></i> <span>轮播图</span> <span class="menu-arrow"></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="{:url('admin/Lunbo/show')}">轮播图</a></li>
                            <!--<li><a href="{:url('admin/Loaddown/')}">一堆发送</a></li>-->
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);"><i class="fa fa-list"></i> <span>JS</span> <span class="menu-arrow"></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="{:url('admin/Js/index')}">js</a></li>
                            <!--<li><a href="{:url('admin/Loaddown/')}">一堆发送</a></li>-->
                        </ul>
                    </li>





                </ul>
            </div>
            <!-- Sidebar -->
            <div class="clearfix"></div>
        </div>
        <!-- Sidebar -left -->
    </div>

