
    <!-- End Navigation Bar-->
    <!-- ========== Left Sidebar Start ========== -->
    <div class="left-side-menu">
        <div class="slimscroll-menu">
            <!--- Sidemenu -->
            <div id="sidebar-menu">
                <ul class="metismenu" id="side-menu">
                    <li class="menu-title">Navigation</li>
                    <li>
                        <a href="{:url('resign/Home/home')}">
                            <i class="fa fa-home"></i> <span> 空白页面 </span>
                        </a>
                    </li>

                    <li>
                        <a href="{:url('layer/Layer/layer')}">
                            <i class="fa fa-key"></i> <span> Layer </span>
                        </a>
                    </li>

                    <li>
                        <a href="{:url('resign/Sms/sms')}">
                            <i class="fa fa-key"></i> <span> 注册-短信 </span>
                        </a>
                    </li>

                    <li>
                        <a href="javascript: void(0);"><i class="fa fa-list"></i> <span>layer</span> <span class="menu-arrow"></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="{:url('admin/Layermess/layermess')}">新增和删除</a></li>
                            <li><a href="{:url('admin/Layermess/tap')}">弹出标签</a></li>
                        </ul>
                    </li>





                </ul>
            </div>
            <!-- Sidebar -->
            <div class="clearfix"></div>
        </div>
        <!-- Sidebar -left -->
    </div>

