<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport"/>
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>手机 底部 导航栏</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="__S__/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href="__S__/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="__S__/css/phonefoot.css" rel="stylesheet"/>

    <title>手机站常用的底部导航条，宽度自适应</title>

</head>

<style>
    a {
        text-decoration: none;
        color: #333;
    }
    a:hover {
        color: #0711ff;
        text-decoration: none;
    }
</style>

<body>

<button id="btnn">dd</button>

<div id="ft_menu" class="ft_menu">
    <a id="get" class="ft_subMenu ft_text-center" href="{:url('phone/Phone/phone_a')}">
        <i class="fa fa-home"></i>
        <div class="ft_menu_name" id="">QQ</div>
        <span id="dd">55</span>
    </a>
    <a id="two" class="ft_subMenu ft_text-center" href="#">
        <i class="fa fa-send"></i>
        <div class="ft_menu_name">QQ</div>
    </a>
    <a id="three" class="ft_subMenu ft_text-center" href="#">
        <i class="fa fa-cab"></i>
        <div class="ft_menu_name">QQ</div>
    </a>
    <a id="four" class="ft_subMenu ft_text-center" href="#">
        <i class="fa fa-key"></i>
        <div class="ft_menu_name">QQ</div>
    </a>
</div>
<!--<div id="menu" class="menu">-->
<!--<div id="one" class="subMenu text-center" data-src="">-->

<!--<div class="menu_name">测试1</div>-->
<!--</div>-->
<!--<div id="two" class="subMenu text-center">-->

<!--<div class="menu_name">QQ</div>-->
<!--</div>-->
<!--<div id="three" class="subMenu text-center" data-src="personal.html">-->
<!--<div class="menu_name">测试3</div>-->
<!--</div>-->
<!--</div>-->
</body>

<script>

        $("#dd").click()

    /*content高度*/
    // function initSize() {
    //     var height = $(window).height() - $("header").height() - $("#description").height() - $("#menu").height();
    //     $("#content").height(height + "px");
    // }

</script>


</html>