
{include file="part/head" /}
{include file="part/headbar" /}


{include file="part/menu" /}

<div class="content-page">
    <div class="content">
        <!-- End page title box -->
        <div class="page-title-box">
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item"><a href="javascript:void(0);">Greeva</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">Forms</a></li>
                <li class="breadcrumb-item active">Form Elements</li>
            </ol>
            <h4 class="page-title">Excel out</h4>
        </div>

        <a href="{:url('admin/Excelout/excelout_do')}">导出excel</a>
    </div>
</div>

{include file="part/foot" /}