

{include file="part/head" /}
{include file="part/headbar" /}


{include file="part/menu" /}

<!--<link href="__S__/css/bootstrap.min.css" rel="stylesheet" />-->


<div class="content-page">
    <div class="content" >
        <!-- End page title box -->
        <div class="page-title-box">
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item"><a href="javascript:void(0);">手机短信</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">空白</a></li>
                <li class="breadcrumb-item active">空白</li>
            </ol>
            <h4 class="page-title">手机短信</h4>
        </div>

        <div class="col-md-6">
            <form role="form" name="myform" method="post" id="d_form">

                <div class="form-group">
                    <input class="form-control" name="phone" placeholder="phone">
                </div>

                <!--html部分>>>-->
                <!--<<<html部分-->

                <button type="button" class="btn btn-primary" onclick="yanzheng()" id="code">获取验证码</button>

            </form>
        </div>


    </div>
</div>

{include file="part/foot" /}

<script>
    function yanzheng() {
        // $.post("{:url('api/sms/sendsms')}", {"phone": phone},);
        var code = $("#code");
        code.attr("disabled","disabled");
        setTimeout(function(){
            code.css("opacity","0.5");
        },10)
        var time = 5;
        var set=setInterval(function(){
            // code.val("("+--time+")秒后重新获取");
            code.html("("+--time+")秒后重新获取");
        }, 1000);
        setTimeout(function(){
            code.attr("disabled",false).css("opacity","1").html("获取验证码");
            clearInterval(set);
        }, time*1000);
    }
</script>